.text-field{
    -fx-background-color: #4c4b87, #f7f7fa;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}

.button{
    -fx-background-color: #c8c7cd;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

#linkButton{
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

#bankAnchorPane{
    -fx-background-color: #f7f7fa;
}

#sidePane{
    -fx-background-image: url("../images/Nordic.jpeg");
    -fx-background-position: center;
    -fx-background-size: 360%;
}

#titleLabel{
    -fx-font-weight: bold;
    -fx-text-fill: #c8c7cd;
}